APP_HOST=0.0.0.0
APP_PORT=8000

# PostgreSQL (внутри Docker используем порт 5432)
POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# TimescaleDB (внутри Docker используем порт 5432)
TIMESCALE_DB=metrics_db
TIMESCALE_USER=postgres
TIMESCALE_PASSWORD=postgres
TIMESCALE_HOST=timescaledb
TIMESCALE_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0
RQ_REDIS_URL=redis://redis:6379/0

# Backend URL для продакшена
BACKEND_URL=https://89.169.165.170.nip.io
FORWARDED_ALLOW_IPS=*

# Atlassian OAuth (обновленный Redirect URI)
ATLASSIAN_CLIENT_ID=Qbjtx7b28iAMqbe3olcQ9zaYwMPp8bmT
ATLASSIAN_CLIENT_SECRET=ATOAHpyL4-TEOig6jI08k2OPrRm2cPoq0-iJLdSavb9cEH09SpP4FXTNGtppAnSSVoxY84DCC747
ATLASSIAN_REDIRECT_URI=https://89.169.165.170.nip.io/auth/callback

# GitHub OAuth (обновленный Redirect URI)
GITHUB_CLIENT_ID=Iv23lixGrSdSRlGuqGAK
GITHUB_CLIENT_SECRET=7e0cae73839f328778a6f86d97d590bed2090e7b
GITHUB_REDIRECT_URI=https://89.169.165.170.nip.io/github/callback

SECRET_KEY=supersecret
JIRA_SYNC_EXCLUDED_USERS=test.jira.test@yandex.ru,test.user@company.com,another@test.com
ALPHABANK_API_KEY=your_api_key
ALPHABANK_MODEL=openai/gpt-oss-120b
ALPHABANK_API_URL=https://ai-api.pincode-infra.ru/v1/chat/completions


OPENROUTER_API_KEY=your-api-key-here
