APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5433

ATLASSIAN_CLIENT_ID=Qbjtx7b28iAMqbe3olcQ9zaYwMPp8bmT
ATLASSIAN_CLIENT_SECRET=ATOAHpyL4-TEOig6jI08k2OPrRm2cPoq0-iJLdSavb9cEH09SpP4FXTNGtppAnSSVoxY84DCC747
ATLASSIAN_REDIRECT_URI=http://localhost:8000/auth/callback

SECRET_KEY=supersecret